.modal-back{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    right: 8%;
    top: 0;
    left: 0;
    bottom:1%;
  }
 