.top{
    display: flex;
    flex-direction: row;
    height: 25vh;
}

.side{
    display: flex;
    flex-direction: column;
    flex:1;
}

.middle{
    display: flex;
    flex-direction: row;
    height: 50vh;
}
.user-view{
    display: flex;
    width: 50vh;
}