.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    /* width: 100%; */
    background-color: rgb(19, 18, 18);
}
.header-button{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    color: white;
    border:none;
}
.left{
    padding: 5px 15px;
    background-color: rgba(19, 19, 19, 0.712);
}
.right{
    background-color: rgb(43, 43, 43);
}

.header-container-left{
    display: flex;
    border: none;
    margin-left: 5px;
}
.icon-info{
    color: white;
}


.icon-security{
    color:rgb(47, 223, 91);
}

.header-container-right{
    display: flex;
    margin-right: 5px;
}

.icon-view{
    transform: rotate(-90deg);
    margin: 8px 3px;
}

.icon-screen{
    margin: 5px 3px;
}