.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: rgb(22, 22, 22);
}

.container-left{
    display: flex;
    align-items: center;
    height: 55px;
    width: 22vh;
    /* background-color: yellow; */
    overflow: hidden; 
}
.container-center{
    height: 55px;
    width: 65vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

#leave{
    height: 3.2vh;
    width: 7vh;
    background-color: rgb(151, 29, 29);
    border-radius: 10px;
    margin-right: 2vh;
    box-shadow:  0px 0px 20px 0px rgb(24, 24, 24);
    border: none;
    text-align: center;
    font-weight: 1000;
    color: whitesmoke;
    font-size:13px;
}
#leave:hover{
    background-color: rgb(214, 41, 41);
}

.footer-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    height:50px;
    width: 88px;
    color: rgb(173, 173, 173);
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-size: 12px;
    font-weight:600;
}

.footer-button-left{
    height:50px;
    width: 100px;
    color: rgb(173, 173, 173);
    background: none;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 12px;
    font-weight:600;
}

.center{
    justify-content: center;
}

.footer-button:hover{
    background: rgba(109, 108, 108, 0.226);
}
.footer-button-left:hover{
    background: rgba(109, 108, 108, 0.226);
}
.icon-set{
    display: flex;
    align-items:center;
    height: 100%;
    flex-direction: column;
    margin: 0px 3px;
    /* background-color: red; */
}
.more{
    background: none;
    border: none;
    padding: 3px;
    color: rgb(218, 213, 213);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.more:hover{
    background: rgba(156, 156, 156, 0.575);
}

.transform{
    transform: scaleX(-1);
}
.screenshare{
    color:rgb(47, 223, 91);
}
