.main {
  display: flex;
  flex-direction: column;
}

.body {
  background-color:  #1b1a1a;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}